* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  width: 90vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle,#3c7d99,  #0d0d0e);
}

.base {
  width: 350px;
  height: 380px;
  border-radius: 14px;
  background: linear-gradient(180deg, #026f7e, #048ab3,#0a2f58);
  border: 5px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
  position: relative;
  overflow: hidden;
}

.item {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: radial-gradient(circle at 30% 30%, #b3ffdf, #bbff00 );
  box-shadow: 0 0 12px rgba(0, 238, 255, 0.911);
}

.player {
  position: absolute;
  width: 80px;
  height: 10px;
  transform: translateX(-50%);
  top: 250px;
  background: linear-gradient(90deg, rgb(192, 168, 29), #0ff);
  box-shadow:  0 0 14px rgba(0, 200, 255, 0.9);
  border-radius: 6px;
}

.score {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  top: 20px;
  left: 20px;
  z-index: 1;
  color: #ffffff;
  text-shadow:  0 0 8px rgba(255, 255, 255, 0.9);
}

.button {
  width: 120px;
  height: 45px;
  background: linear-gradient(135deg, #053970, #01cef7 );
  border: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 24px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(104, 174, 248, 0.6);
}

.button:hover{
    transform: scale(1.05);
    box-shadow:  0 12px 26px rgba(0, 204, 255, 0.9);
}